@charset "UTF-8";

.select_date{
	width:150px; 
	height:38px;
	border: 1px solid #dee2e6;
    border-radius: 5px;	
}

.btnFindstr{
	margin-left:30px;
}

.baik_board_view{
	border: 1px solid #c8c9ca;
	margin-left : 40px;
	padding: 20px;
	width: 1050px;
}
.baik_board_view>form{
	text-align: right;
}
.baik_board_view>ul{
	list-style: none;
	margin-top: 5px;
	padding:20px;
}
.baik_board_view li.title{
	background-color: #2d3644;
	color: #fff;
	width:950px;
}
.baik_board_view li.item{
	display: inline-block;
	padding: 3px;
	position: relative;
	width: 950px;
	margin-top:2px;
	border : 1px solid #aaa;
}
.baik_board_view li.item:hover{
	background-color: #ccc;
	cursor: pointer;
	width: 950px;
}
.baik_board_view li>span{
	display: inline-block;
}

.baik_board_view li> span.checkbox{
	width:20px;
	padding-left: 10px;
    padding-top: 5px;
}
.baik_board_view li> span.sno{
	width: 50px;
	text-align: center;
	margin-right: 20px;
}
.baik_board_view li> span.boardtype{
	width: 100px;
	text-align: center;
}
.baik_board_view li> span.subject{
	width: 290px;
	text-align: center;
}
.baik_board_view li> span.nickname{
	width: 100px;
	text-align: center;
}
.baik_board_view li> span.nal{
	width: 150px;
	text-align: center;
}
.baik_board_view li> span.viewcount{
	width: 100px;
	text-align: center;
}
.baik_board_view li>span.delete_btn{
	width: 46px;
	text-align: center;

}

.btnDelete{
	width:46px !important;
	height:31px !important;
	font-size: 13px;
	
}
